
body{
font-family:"Arial","ヒラギノ角ゴ ProN",sans-serif;
  background-color: #f9f9f9;
  margin: 40px;
  color: #333;
}

h1,h2{
  color: #2c3e50;
}

section, .profile{
  background-color: #ffffff;
  padding: 20px
    border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  margin-bottom:30px;
}

table{
  width: 100%;
  border-callapse: collapse;
  margin-top: 10px;
  background-color: #fff;
}

th,td{
  border: 1px solid #ccc;
  padding: 12px;
  text-align: center;
}

th{
  background-color: #2980b9;
  color: white;
}

tr:nth-child(even){
  background-color: #f2f2f2;
}

ul{
  padding-left: 20px;
  margin-top: 10px;

  .footer{
    font-size: 0.9em;
    color: #555;
    margin-top: 30px;

    .profilr{
      text-align: center;
    }

    .profile ing{
      width: 150pz
        height: 150px
        border-radius: 50%;
      object-fit: cover;
      margin-bottom: 10px
    }

